.build/
docs/
.serena/
claudedocs/
.swiftpm
.DS_Store
.xcbkptlist
.claude
Examples/VoicesApp/Config/Local.xcconfig
xcuserdata/*
*.pbxproj
*.resolved
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcuserdatad
*.xcuserdatad/xcdebugger
*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.profraw
.worktrees/
